In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns #for plotting
np.random.seed(123) #ensure reproducibility

In [2]:
tickets = pd.read_json('contacts.json')

In [3]:
tickets.head(10)

,Id,Email,Phone,Contacts,OrderId
0,0,gkzAbIy@qq.com,,1,
1,1,,329442681752,4,vDDJJcxfLtSfkooPhbYnJdxov
2,2,,9125983679,0,
3,3,mdllpYmE@gmail.com,,0,bHquEnCbbsGLqllwryxPsNOxa
4,4,,300364407,2,
5,5,,840113148,0,
6,6,hESiBgYTxMnj@hotmail.com,,4,
7,7,hqyunTiaXfIjhO@yahoo.com,,1,vxjYZtMUvNhtEBDruzQfjpsmX
8,8,XGUjcSiDpFKWEUCs@qq.com,223604620644,2,
9,9,osIIQgAiZX@hotmail.com,,0,IqewrMXVTJqSsVklWFfOpdRNI

In [4]:
tickets.dtypes

Id           int64
Email       object
Phone       object
Contacts     int64
OrderId     object
dtype: object

In [ ]:
ticket_trace = ""

for index, row in tickets.iterrows():
    if row['OrderId'] == 'vDDJJcxfLtSfkooPhbYnJdxov':
        if ticket_trace=="":
            ticket_trace += str(index)
        else:
            ticket_trace +="-"+str(index)

In [ ]:
print(ticket_trace)